<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hu.elte.inf.backend.dao.ArtistMapper">

    <!-- ========================================== Artist ========================================== -->
    <!-- Get all artists -->
    <select id="findAllArtists" resultType="hu.elte.inf.backend.sqlEntity.Artist">
        SELECT * FROM artists
    </select>

    <!-- Get artist by id -->
    <select id="getArtistById" parameterType="long" resultType="hu.elte.inf.backend.sqlEntity.Artist">
        SELECT * FROM artists WHERE id = #{id}
    </select>

    <!-- Get artist by name -->
    <select id="getArtistByName" parameterType="String" resultType="hu.elte.inf.backend.sqlEntity.Artist">
        SELECT * FROM artists WHERE name = #{name}
    </select>

    <!-- Insert artist -->
    <insert id="insertArtist" parameterType="hu.elte.inf.backend.sqlEntity.Artist" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO artists (name, bio)
        VALUES (#{name,jdbcType=VARCHAR}, #{bio, jdbcType=VARCHAR})
    </insert>

    <!-- Delete artist -->
    <delete id="deleteArtist" parameterType="long">
        DELETE FROM artists WHERE id = #{id}
    </delete>

    <!-- Update artist info -->
    <update id="updateArtist" parameterType="hu.elte.inf.backend.sqlEntity.Artist">
        UPDATE artists
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="bio != null">bio = #{bio}</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>