<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hu.elte.inf.backend.dao.ArtworkMapper">

    <!-- ========================================== Artwork ========================================== -->
    <!-- 获得所有的艺术品 -->
    <select id="findAllArtworks" resultType="hu.elte.inf.backend.sqlEntity.Artwork">
        SELECT * FROM artworks
    </select>

    <!-- 根据ID获取艺术品 -->
    <select id="getArtworkById" parameterType="long" resultType="hu.elte.inf.backend.sqlEntity.Artwork"  >
        SELECT * FROM artworks WHERE id = #{id}
    </select>

    <!-- 查询特定标题和艺术家ID的艺术品 -->
    <select id="findArtworkByTitleAndArtistId" parameterType="map" resultType="hu.elte.inf.backend.sqlEntity.Artwork">
        SELECT * FROM artworks
        WHERE title = #{title} AND artist_id = #{artist_id}
    </select>

    <!-- 查询特定艺术家的所有艺术品 -->
    <select id="findArtworksByArtistId" parameterType="long" resultType="hu.elte.inf.backend.sqlEntity.Artwork">
        SELECT id, artist_id, title, description, price, image_url, type
        FROM artworks
        WHERE artist_id = #{artist_id}
    </select>


    <!-- 插入艺术品数据 -->
    <insert id="insertArtwork" parameterType="hu.elte.inf.backend.sqlEntity.Artwork" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO artworks (artist_id, title, description, price, image_url, type)
        VALUES (#{artist_id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{image_url,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
    </insert>


    <!-- 删除特定艺术品 -->
    <delete id="deleteArtwork" parameterType="long">
        DELETE FROM artworks  WHERE id = #{id}
    </delete>

    <!-- 更新艺术品信息 -->
    <!-- 动态更新艺术品信息 -->
    <update id="updateArtwork" parameterType="hu.elte.inf.backend.sqlEntity.Artwork">
        UPDATE artworks
        <set>
            <if test="artist_id != null">artist_id = #{artist_id},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image_url != null and image_url != ''">image_url = #{image_url},</if>
            <if test="type != null and type != ''">type = #{type}</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 随机获取一件艺术品的映射器 -->
    <select id="findRandomArtwork" resultType="hu.elte.inf.backend.sqlEntity.Artwork">
        SELECT * FROM artworks ORDER BY RAND() LIMIT 1
    </select>


</mapper>