<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hu.elte.inf.backend.dao.ArtworkMapper">

    <!-- ========================================== Artwork ========================================== -->
    <!-- Get all artworks -->
    <select id="findAllArtworks" resultType="hu.elte.inf.backend.sqlEntity.Artwork">
        SELECT * FROM artworks
    </select>

    <!-- Get all artworks with artist name -->
    <select id="getArtworkById" parameterType="long" resultType="hu.elte.inf.backend.sqlEntity.Artwork"  >
        SELECT * FROM artworks WHERE id = #{id}
    </select>

    <!-- Get all artworks with artist name -->
    <select id="findArtworkByTitleAndArtistId" parameterType="map" resultType="hu.elte.inf.backend.sqlEntity.Artwork">
        SELECT * FROM artworks
        WHERE title = #{title} AND artist_id = #{artist_id}
    </select>

    <!--Get all artworks with artist name -->
    <select id="findArtworksByArtistId" parameterType="long" resultType="hu.elte.inf.backend.sqlEntity.Artwork">
        SELECT id, artist_id, title, description, price, image_url, type, user_id
        FROM artworks
        WHERE artist_id = #{artist_id}
    </select>

    <!-- Get all artworks by user id -->
    <select id="findArtworksByUserId" parameterType="long" resultType="hu.elte.inf.backend.sqlEntity.Artwork">
        SELECT * FROM artworks WHERE user_id = #{user_id}
    </select>


    <!-- Insert a new artwork -->
    <insert id="insertArtwork" parameterType="hu.elte.inf.backend.sqlEntity.Artwork" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO artworks (artist_id, title, description, price, image_url, type, user_id)
        VALUES (#{artist_id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{image_url,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{user_id,jdbcType=BIGINT})
    </insert>


    <!-- 删除特定艺术品 -->
    <delete id="deleteArtwork" parameterType="long">
        DELETE FROM artworks  WHERE id = #{id}
    </delete>

    <!-- 更新艺术品信息 -->
    <!-- 动态更新艺术品信息 -->
    <update id="updateArtwork" parameterType="hu.elte.inf.backend.sqlEntity.Artwork">
        UPDATE artworks
        <set>
            <if test="artist_id != null">artist_id = #{artist_id},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image_url != null and image_url != ''">image_url = #{image_url},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="user_id != null">user_id = #{user_id}</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- Update the user_id of the artwork to the given user_id -->
    <update id="purchaseArtwork" parameterType="map">
        UPDATE artworks
        SET user_id = #{user_id}
        WHERE id = #{artwork_id} AND user_id IS NULL
    </update>

    <!-- Get random artwork by price range -->
    <select id="findRandomArtworkByPriceRange" resultType="hu.elte.inf.backend.sqlEntity.Artwork">
        SELECT * FROM artworks
        WHERE price BETWEEN #{minPrice} AND #{maxPrice} AND user_id IS NULL
        ORDER BY RAND() LIMIT 1
    </select>


</mapper>