<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hu.elte.inf.backend.dao.UserMapper">

    <!-- ========================================== User ========================================== -->
    <!-- Get all users -->
    <select id="findAllUsers" resultType="hu.elte.inf.backend.sqlEntity.User">
        SELECT * FROM user_account
    </select>

    <!-- Get user by id -->
    <select id="getUserById" parameterType="long" resultType="hu.elte.inf.backend.sqlEntity.User">
        SELECT * FROM user_account WHERE id = #{id}
    </select>

    <!-- Get user by username -->
    <select id="getUserByUserName" parameterType="String" resultType="hu.elte.inf.backend.sqlEntity.User">
        SELECT * FROM user_account WHERE username = #{username}
    </select>

    <!-- Get user by email -->
    <select id="getUserByEmail" parameterType="String" resultType="hu.elte.inf.backend.sqlEntity.User">
        SELECT * FROM user_account WHERE email = #{email}
    </select>

    <!-- Insert user -->
    <insert id="insertUser" parameterType="hu.elte.inf.backend.sqlEntity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_account (username, password, email, isAdmin, birthdate, gender, address)
        VALUES (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, false, #{birthdate,jdbcType=DATE}, #{gender,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR})
    </insert>

    <!-- Update user info -->
    <update id="updateUserInfo" parameterType="hu.elte.inf.backend.sqlEntity.User">
        UPDATE user_account
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="email != null">email = #{email},</if>
            <if test="birthdate != null">birthdate = #{birthdate},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="address != null">address = #{address}</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 更新用户密码 -->
    <update id="updateUserPassword">
        UPDATE user_account SET password = #{newPassword} WHERE id = #{id}
    </update>

    <!-- 删除用户 -->
    <delete id="deleteUser" parameterType="long">
        DELETE FROM user_account WHERE id = #{id}
    </delete>


</mapper>