<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hu.elte.inf.backend.dao.WishlistMapper">
        
        <!-- get wishlist by user_id and artwork_id -->
        <select id="selectWishlistByUserIdAndArtworkId" resultType="hu.elte.inf.backend.sqlEntity.Wishlist">
                SELECT * FROM wishlist WHERE user_id = #{user_id} AND artwork_id = #{artwork_id}
        </select>

        <!-- get all wishlists by wishlist_id -->
        <select id="selectWishlistByWishlistId" resultType="hu.elte.inf.backend.sqlEntity.Wishlist">
                SELECT * FROM wishlist WHERE id = #{wishlist_id}
        </select>

        <!-- get all wishlists by user_id -->
        <select id="selectWishlistsByUserId" resultType="hu.elte.inf.backend.sqlEntity.Wishlist">
                SELECT * FROM wishlist WHERE user_id = #{user_id}
        </select>
        
        <!-- insert a new wishlist item -->
        <insert id="insertWishlist" parameterType="hu.elte.inf.backend.sqlEntity.Wishlist" useGeneratedKeys="true" keyProperty="id">
                INSERT INTO wishlist (user_id, artwork_id, added_at)
                VALUES (#{user_id}, #{artwork_id}, NOW())
        </insert>

        <!-- delete a wishlist item by wishlist_id -->
        <delete id="deleteWishlistByWishlistId">
                DELETE FROM wishlist WHERE id = #{wishlist_id}
        </delete>

        <select id="getAllWishlistDetailsByUserId" resultMap="WishlistDetailResultMap">
                SELECT
                w.id AS wishlist_id,
                w.added_at AS added_at,
                a.id AS artwork_id,
                a.title,
                a.description,
                a.price,
                a.image_url,
                a.type,
                ar.id AS artist_id,
                ar.name AS artist_name,
                ar.bio AS artist_bio
                FROM wishlist w
                INNER JOIN artworks a ON w.artwork_id = a.id
                INNER JOIN artists ar ON a.artist_id = ar.id
                WHERE w.user_id = #{user_id}
        </select>

        <resultMap id="WishlistDetailResultMap" type="hu.elte.inf.backend.sqlEntity.WishlistDetail">
                <result column="wishlist_id" property="wishlist_id" />
                <result column="added_at" property="added_at" />
                <result column="artwork_id" property="artwork_id" />
                <result column="title" property="title" />
                <result column="description" property="description" />
                <result column="price" property="price" />
                <result column="image_url" property="image_url" />
                <result column="type" property="type" />
                <result column="artist_id" property="artist_id" />
                <result column="artist_name" property="artist_name" />
                <result column="artist_bio" property="artist_bio" />
        </resultMap>


</mapper>